
   button {
    
    /* backdrop-filter: blur(4px) grayscale(30%); */
      /* height:5vh; */
      color: var(--text-color-regular);
      border-radius: 8px;
      border: 1px solid transparent;
      font-size: 1rem;
      font-weight: var(--font-weight-regular);
      font-family: var(--font-family-regular);
      background-color: rgba(255, 255, 255, 0.9);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); */
      @media (min-width:768px) {
        font-size: .7rem;
         padding: 0.05rem 0.4rem;
      }
    }

  .button--default {
    color: var(--text-color-dull);
  }
  
  .button--active {
    color: var(--accent-color-main);
    font-size: 1.2rem;
    border-color: var(--accent-color-main);
    @media (min-width:768px) {
      font-size: .8rem;
      
    }
  }
  
  .button--disabled {
    color: #777;
    cursor: not-allowed;
  }
  
  /* .button--hover:hover {
    background-color: #0056b3;
    color: #fff;
  } */

  button:hover {
    border-color: var(--accent-color-main);
    color: var(--accent-color-main);
  }