
.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 600px; /* Максимальная ширина карусели */
  margin: 0 auto;
  
}

/* Трек для прокрутки */
.carousel-track {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out; /* Плавная анимация прокрутки */
}

/* Элементы карусели */
.carousel-item {
  flex: 0 0 100%; /* Каждый элемент занимает 100% ширины трека */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Контейнер для переключателей */
.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

/* Переключатели */
.carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-dot.active {
  background-color: #333; /* Активная точка */
}

.control {
  transition: opacity 150ms ease;
  opacity: 0;
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 10vh; */
  
 @media (min-width:768px) {
    /* margin-bottom: 10vh; */
    }

  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.indicators {
  align-items: end;
  gap: 2vw;
  position:fixed
}

.indicator {
  
  background-color: transparent;

  border: 0.05rem solid;
  width: 0.4rem;
  height: 0.4rem;
  transition: width 250ms ease;
  border-radius: 0.1rem;
  border-color: var(--text-color-dull);

  &[data-active] {
    width: 20px;
    height: 20px;
    border-color: var(--accent-color-main);
  }
}

.container {

  
}

h3 {
  margin:0;
  padding: 0;
  position: relative;
  color: var(--text-color-regular) ;
  font-size: 25px;
  z-index: 15 !important;
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-regular);
}

p {

  color: var(--text-color-regular) ;
  font-size: 25px;
}

.root * {
overflow: visible;
}

.image {
  border-radius: 155px !important;
  overflow: visible;
  height: 100% !important;
  object-fit: contain;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.slide {
  height: 200px; /* Фиксированная высота для каждого слайда */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
}

