
.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 600px; /* Максимальная ширина карусели */
  margin: 0 auto;
  
}



.control {
  display: none;
  transition: opacity 150ms ease;
  opacity: 0;
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 0vh;
  
 @media (min-width:768px) {
    margin-top: 12vh; 
    }

  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.indicators {
  align-items: end;
  gap: 2vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* width:100vw; */
  /* padding: 0px 5vw; */
  /* transform: translateY(1550%); */
}

.indicator {
  
  background-color: transparent;
  border: 0.05rem solid;
  width: 0.3rem;
  height: 0.3rem;
  transition: width 250ms ease;
  border-radius: 0.07rem;
  border-color: var(--text-color-dull);

  &[data-active] {
    width: 0.5rem;
    height: 0.5rem;
    border-color: var(--accent-color-main);
  }
}

.container {
  /* height: 100%; */
  
}

.image {
  border-radius: 55px ;
  overflow: visible;
  height: 50% ;
  object-fit: contain;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
}

.slide {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.viewport {
  height:100%;
}

