
.header {
    background-color: rgba(255, 255, 255, 0.0);
    padding:  1.0rem 1.5rem ;
    position:fixed;
    left: 0px;
    top: 0vh;
    z-index: 5;
    font-family: var(--font-family-regular);
    min-height: 120px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap : 3vh;
    display: flex;
    height:10vh;
    @media (min-width: 768px) {
      gap : 1vh;
      height:22vh;
    }
    @media (min-width: 1200px) {
      padding:  1.0rem 1.5rem ;
      gap : 2vh;
      height:20vh;
    }
    
}
.upper_header {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.lower_header {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  @media (min-width: 768px) {
    height: 100%;
  }
  @media (min-width: 1200px) {
    height: 50%;
  }
  
}

.nav {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-content: center;
  
}

.ul {
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  align-items: center;
  list-style: none;
text-decoration: none;

}



.activeLink {
  background-color: var(--accent-color-main);
  color: white;
}