@import './fonts.css';

:root {
  /* COLORS */
    --background-color-main: #ffffff;
    --background-color-2: #F1F1F1;
    --background-color-3: #F1ECFF;
    --background-color-4: #FFEDEC;
    --accent-color-main: #A694FF;
    /* --accent-color-main: #8291FF; */
    --text-color-dull: #988DB9;
    --text-color-regular: #201541;
    --text-color-bright: #680AFF;
    --text-color-opposite: #ffffff;
    --logo-color-dark: #1F1440;

    /* FONTS */
    --font-size-big: 32px;
    --font-size-regular: 24px;
    --font-size-small: 16px;

    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --font-weight-extraLight: 200;

    --font-family-regular: 'Onest';
    --font-family-accent: 'NEUTRALFACE';


    /* TEMP */
    --spacing-lg: 80px;
    --spacing-md: 40px;
    --spacing-sm: 20px;

    --border-default: 0.02rem solid var(--text-color-regular);

  }



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {

    scroll-behavior: smooth;

    -webkit-overflow-scrolling: touch;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #ffffff;

    ::-webkit-scrollbar {
      width: 0.2rem; /* Ширина вертикального скроллбара */
      height: 8px; /* Высота горизонтального скроллбара */
  }
  
  /* Фон скроллбара */
  ::-webkit-scrollbar-track {
      background: #f0f0f000;
      border-radius: 4px;
  }
  
  /* Ползунок (бегунок) */
  ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 0.1rem;
  }
  
  /* При наведении */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
    

    /*Mobile */
    /* padding: 0rem 1rem; */
    font-size: var(--font-size-small);
    /* overflow: hidden; */

    /*Tablet */
    @media (min-width: 768px) {
      /* padding: 0rem 1rem; */
      font-size: var(--font-size-regular);
      }
    /*PC */
    @media (min-width: 1200px) {
      /* padding: 0rem 1rem; */
      font-size: var(--font-size-big);
      } 
      
  }

  main {
  height: 100vh;
  width: 100%;
  display: block;
  overflow: scroll;
  }
/* background-color:indianred; */
/* 
  section {
    
    border-top: var(--border-default);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vmax 0;
    width:100%;
    min-height: 80vh;

  } */

  section {
    /* border-top: var(--border-default); */
    background-color: var(--background-color-3);
    padding-bottom: 5vmax;
    padding-top: 0.1rem;
    display: block;
    
  }

  section:nth-of-type(2n)
  {
    background-color: var(--background-color-3);
  }

  section:nth-of-type(3n)
  {
    background-color: var(--background-color-main);
  }
  
h3 {
  font-size: 1.2rem;
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-regular) ;
  @media (min-width:768px) {
    font-size: 1.0rem;
    line-height: 1.3rem;
  }
}

h2 {
  font-size: 1.2rem;
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-regular) ;
  @media (min-width:768px) {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
  @media (min-width:1200px) {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
}

h1 {
  margin-top: 6vmax;
  margin-bottom: 7vmax;
  font-size: 1.4rem;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-regular) ;
  @media (min-width:768px) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  @media (min-width:1200px) {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

p {
  font-family: var(--font-family-regular);
  color: var(--text-color-regular) ;
  font-weight: var(--font-weight-regular);
  font-size: 1.0rem;
  @media (min-width:768px) {
    font-size: 0.7rem;
  }
}

/*subtext*/
small {
  font-family: var(--font-family-regular);
  color: var(--text-color-dull) ;
  font-weight: var(--font-weight-extraLight);
  font-size: 0.8rem;
  @media (min-width:768px) {
    font-size: 0.7rem;
  }

}

/*important text*/
b {
  color: var(--text-color-regular) ;
  font-family: var(--font-family-accent);
  font-size: 0.65rem;
}

iframe {
  border-radius: 1rem;
  border: none;
  outline: none;
  @media (min-width: 768px) {
      
    } 
}

strong {

  color:var(--text-color-bright);
}


article {
  color: var(--text-color-regular) ;
  font-weight: var(--font-weight-regular);
  font-size: 1.0rem;
  padding: 0.1rem;
  @media (min-width:768px) {
    font-size: 0.7rem;
  }

}


a {
  font-size: 0.6rem;
  font-weight: bold;
  color: var(--text-color-regular);
  list-style: none;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.2rem 0.2rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.85); */
  @media (min-width:1350px) {
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
  }
}

li {
  text-align: center;
  
}

a:hover {
    /* font-size: 0.9rem; */
    /* border-color: var(--accent-color-main);
    color: var(--accent-color-main); */
    
}


.mobileHidden {
  @media (max-width:768px) {
    display:none;
  }
  
}

.textCall {
  border: 1px solid var(--accent-color-main);
  font-family: var(--font-family-regular);
  color: var(--text-color-regular) ;
  font-weight: var(--font-weight-regular);
  font-size: 1.0rem;
  @media (min-width:768px) {
    font-size: 0.7rem;
  }
}

.textCall:hover{
  font-size: 0.8rem;
  border: 1px solid var(--text-color-bright);
}

.ending {
  width: 100%;
  height:20vh;
  @media (min-width:768px) {
    height:10vh;
    
  }
  
}

hr {

  
}