@import './fonts.css';

:root {
  /* COLORS */
    --background-color-main: #ffffff;
    --accent-color-main: #A694FF;
    /* --accent-color-main: #8291FF; */
    --text-color-dull: #988DB9;
    --text-color-regular: #201541;
    --text-color-bright: #680AFF;
    --text-color-opposite: #ffffff;

    /* FONTS */
    --font-size-big: 32px;
    --font-size-regular: 24px;
    --font-size-small: 16px;

    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --font-weight-extraLight: 200;

    --font-family-regular: 'Onest';
    --font-family-accent: 'NEUTRALFACE';

  }


  ::-webkit-scrollbar {
    width: 0px; 
    display: none;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
  }
  
  /* scrollbar fader */
  ::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 4px; 
  }
  
  /* scrollbar background */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }


  * {
    margin: 0;
    box-sizing: border-box;

    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  }
/*  SHADOW/BORDER
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
border: 0.1rem solid var(--text-color-regular); 

*/
  html {
    -webkit-overflow-scrolling: touch;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #ffffff;
    

    /*Mobile */
    padding: 0rem 1rem;
    font-size: var(--font-size-small);
    /* overflow: hidden; */

    /*Tablet */
    @media (min-width: 768px) {
      padding: 0rem 1rem;
      font-size: var(--font-size-regular);
      }
    /*PC */
    @media (min-width: 1200px) {
      padding: 0rem 1rem;
      font-size: var(--font-size-big);
      } 
      
  }

  iframe {
    border-radius: 1rem;
    border: none;
    outline: none;
    @media (min-width: 768px) {
        
      } 
  }
  
strong {

  color:var(--text-color-bright);
}

  section {
    /* background-color:indianred; */
    height:fit-content;
    width:100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
    margin-top:18vh;
    height:60vh;

    @media (min-width:768px) {
      margin-top:28vh;
      height:70vh;
    }
  }


  section:last-of-type {
    margin-bottom:7vh;
    @media (min-width:768px) {
      margin-bottom:5vh;
    }
    @media (min-width:1200px) {
      margin-bottom:4vh;
    }
    
  }
  
  .notif {
    position: fixed;
    bottom: 5vh;
    left: 5vw;
  }
  
h3 {
  font-size: 1.2rem;
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-regular) ;
  @media (min-width:768px) {
    font-size: 1.0rem;
    line-height: 1.3rem;
  }
}

h2 {
  font-size: 1.2rem;
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-regular) ;
  @media (min-width:768px) {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
  @media (min-width:1200px) {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
}

p {
  font-family: var(--font-family-regular);
  color: var(--text-color-regular) ;
  font-weight: var(--font-weight-regular);
  font-size: 1.0rem;
  @media (min-width:768px) {
    font-size: 0.7rem;
  }
}

/*subtext*/
small {
  font-family: var(--font-family-regular);
  color: var(--text-color-dull) ;
  font-weight: var(--font-weight-extraLight);
  font-size: 0.8rem;
  @media (min-width:768px) {
    font-size: 0.7rem;
  }

}

/*important text*/
b {
  color: var(--text-color-regular) ;
  font-family: var(--font-family-accent);
  font-size: 0.65rem;
}

article {
  color: var(--text-color-regular) ;
  font-weight: var(--font-weight-regular);
  font-size: 1.0rem;
  padding: 0.1rem;
  @media (min-width:768px) {
    font-size: 0.7rem;
  }

}


a {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--text-color-dull);
  list-style: none;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.85);
}

a:hover {
    font-size: 0.9rem;
    border-color: var(--accent-color-main);
}


.mobileHidden {
  @media (max-width:768px) {
    display:none;
  }
  
}

.textCall {
  border: 1px solid var(--accent-color-main);
  font-family: var(--font-family-regular);
  color: var(--text-color-regular) ;
  font-weight: var(--font-weight-regular);
  font-size: 1.0rem;
  @media (min-width:768px) {
    font-size: 0.7rem;
  }
}

.textCall:hover{
  font-size: 0.8rem;
  border: 1px solid var(--text-color-bright);
}

.ending {
  width: 100%;
  height:20vh;
  @media (min-width:768px) {
    height:10vh;
    
  }
  
}