.toolbar {
    position: fixed;
    bottom: 0vh;
    left: 0vw;
    margin: 0px;
    padding: 0px;
    min-width: var(--min-width);
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    @media (min-width:1024px) { 
        display: none;
    }
    border: var(--border-default);
      

    /* backdrop-filter: blur(2px); */
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9vw;
    align-items: center;
    align-content: center;

}

li {
    list-style: none;
}


.link {
flex: 1;
display: flex;
align-items: center; 
justify-content: center;

}
      
.active {
    background-color: var(--accent-color-main);
    color: white;
    fill: white;
  }

  .icon {
    padding: .1rem;
    /* width: 2.5rem; */
  }