.spoiler {
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    overflow: hidden;
  }
  
  .spoiler-checkbox {
    display: none;
  }
  
  .spoiler-btn {
    display: block;
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    padding: 5px 0;
    font-size: 16px;
    text-align: left;
  }
  
  .spoiler-content {
    max-height: 50px; /* Видимая часть (20% контента) */
    overflow: hidden;
    transition: max-height 1.5s ease-in-out; /* Регулируем плавность */
  }
  
  /* При активации чекбокса раскрывается контент */
  .spoiler-checkbox:checked ~ .spoiler-content {
    max-height: 500px; /* Достаточно большое значение для полного раскрытия */
  }
  