
.grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr)); 
  /* grid-gap: 1vmin; */
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr)); 
  }
}


.grid-item {
  padding: 0.1rem;
  text-align: center;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  word-wrap: break-word;
  word-break: break-word;
  /* border: 1px solid var(--text-color-regular);  */
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.grid-item:hover {
  transform: scale(1.2); 
  color: var(--text-color-opposite);
  background-color: var(--accent-color-main);
}


.grid-item:first-child {
  border-left: none;
  border-top: none;
}

.grid-item:last-child {
  border-right: none;
  border-bottom: none;
}