.container {
  width: 200vw;
  margin-top: 20vh;
  overflow-x: auto;
}

.container:active {
  cursor: grabbing; /* Курсор при зажатии */
}

.table {
  display: grid;
  /* grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));  */
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  gap: 0; /* Убираем промежутки между строками */
  overflow-x: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 колонок */
}

.cell {
  height: 15vh; /* Увеличили размер ячеек */
  border: 1px solid #ddd; /* Тонкие полосы между ячейками */
  text-align: center;
  font-size: 1rem;
  background-color: var(--background-color-main);
  overflow: hidden; /* Скрытие выходящего текста */
  text-overflow: ellipsis; /* Троеточие для длинного текста */
  transition: all 0.3s ease-in-out;
}

.cell:hover {
  transform: scale(1.2); 
  font-size: 1.2rem; 
}

.switcher {
  height: 1vh;
  overflow: hidden;
  margin-top: 16px;
  text-align: center;
}

.button {
  padding: 8px 16px;
  margin: 0 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #e0e0e0;
}

.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.row:first-child .cell {
  border-top: none; 
}

.row:last-child .cell {
  border-bottom: none; 
}

.cell:first-child {
  border-left: none; 
}

.cell:last-child {
  border-right: none; 
}