.navBar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Onest;
    font-weight: 900;
    
    flex-direction: column;
    gap:1.5vh;
    padding-top: 5vh;
    @media (min-width:768px) {
        
        gap:1vw;
        font-size: 0.6rem;
        flex-direction: row;
        align-items: baseline;
    }
    @media (min-width: 1200px) {
        font-size: 0.4rem;
    }
}

